In [59]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
df = pd.read_excel('EXPOSURE CHART.xlsx')
df

                 Part    mAs  kVp   Type  cm
0              Hip AP   15.0   72  Small  13
1              Hip AP   15.0   72  Small  14
2              Hip AP   22.5   72  Small  15
3              Hip AP   22.5   72  Small  16
4              Hip AP   30.0   72  Small  17
..                ...    ...  ...    ...  ..
261  Cervical Lateral   64.0   82  Large  17
262  Cervical Lateral   96.0   82  Large  18
263  Cervical Lateral   96.0   82  Large  19
264  Cervical Lateral  128.0   82  Large  20
265  Cervical Lateral  128.0   82  Large  21

[266 rows x 5 columns]

In [60]:
Type = {'Small': 1,'Medium': 2,'Large':3}
df.Type = [Type[item] for item in df.Type]

In [61]:
Part = {'Hip AP': 1,'Knee AP': 2,'Lower Leg AP':3,'Ankle AP':4,'Foot AP':5,'Shoulder AP':6,'Forearm AP':7,'Elbow AP':8,'Hand PA':9,'Wrist PA':10,'Chest PA':11,'Lumbar AP':12,'Lumbar Lateral':13,'Thoraic AP':14,'Thoraic Lateral':15,'Cervical AP':16,'Cervical Lateral':17}
df.Part = [Part[item] for item in df.Part]

In [62]:
df

     Part    mAs  kVp  Type  cm
0       1   15.0   72     1  13
1       1   15.0   72     1  14
2       1   22.5   72     1  15
3       1   22.5   72     1  16
4       1   30.0   72     1  17
..    ...    ...  ...   ...  ..
261    17   64.0   82     3  17
262    17   96.0   82     3  18
263    17   96.0   82     3  19
264    17  128.0   82     3  20
265    17  128.0   82     3  21

[266 rows x 5 columns]

In [101]:
X =df.drop(['mAs','kVp'], axis = 1)
y=df['kVp']
X1 =df.drop(['mAs'], axis = 1)
y1 = df['mAs']

     Part  kVp  Type  cm
0       1   72     1  13
1       1   72     1  14
2       1   72     1  15
3       1   72     1  16
4       1   72     1  17
..    ...  ...   ...  ..
261    17   82     3  17
262    17   82     3  18
263    17   82     3  19
264    17   82     3  20
265    17   82     3  21

[266 rows x 4 columns]

In [120]:
X

     Part  Type  cm
0       1     1  13
1       1     1  14
2       1     1  15
3       1     1  16
4       1     1  17
..    ...   ...  ..
261    17     3  17
262    17     3  18
263    17     3  19
264    17     3  20
265    17     3  21

[266 rows x 3 columns]

In [121]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, random_state=0)

In [122]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [123]:
y_pred = regressor.predict(X_test)

In [124]:
y_pred

array([ 93.60270375,  74.97466128,  87.73722516,  77.88837672,
       100.61062671,  88.69730339,  63.92731888,  61.12444111,
        84.04871186,  64.99677767,  85.09997316,  67.00666009,
        83.53217995,  79.67804089,  70.19849169,  83.84503839,
        85.3764366 ,  85.63470255,  92.55144245,  64.20378232,
        83.34835669,  61.29006688,  93.06797435,  76.83711542,
        83.62482014,  84.3251753 ,  63.83467869,  65.55135728,
        78.62677959,  78.25767596,  84.67608144,  83.44099688,
        77.20641466,  67.78145794,  71.48816873,  63.13432353,
        93.51006356,  68.94355692,  79.77068108,  66.93367451,
        83.95752879,  67.39561393,  76.72627774,  94.30305891,
        89.30501836,  76.13676026,  67.63402967,  75.28917243,
        66.91547701,  80.69125449,  71.24975299,  88.16257399,
        65.86421571,  92.01671305,  62.08306223,  93.25179761,
        80.36019856,  63.94551637,  64.97858018,  74.62375514,
        94.11923565,  76.34043373,  64.01995906,  80.61846451,
        63.39258948,  68.57445329,  79.14331149,  69.88398054,
        64.83115191,  84.399618  ,  68.44687523,  67.52319199,
        72.87213868,  91.94227036,  75.36215801,  71.50801894,
        87.4789592 ,  66.14067916,  61.03180093,  81.78056349,
        66.19546724,  60.99540594,  67.98493581,  99.02463602,
        64.18558483,  84.89629969,  92.73526571,  75.67501644,
        64.88593999])

In [125]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_pred)
print('r2 socre is ',score)
print('mean_sqrd_error is==',mean_squared_error(y_test,y_pred))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_pred)))

r2 socre is  0.6277449925522331
mean_sqrd_error is== 69.97162845838605
root_mean_squared error of is== 8.364904569592294

In [126]:
test=pd.read_csv('test1.csv')
y_pred = regressor.predict(test)

In [127]:
y_pred

array([91.68400441])

In [110]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.10, random_state=0)

In [111]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [112]:
y_pred = regressor.predict(X_test)

In [113]:
y_pred

array([ 98.04991392,  33.00685025,  87.02837917,  44.1832103 ,
       135.49499039,  70.03422058,  -7.24864514, -27.68998782,
        79.77572475,   3.08393639,  84.49041632,  19.97606225,
        68.1696129 ,  44.86861112,  11.6587568 ,  76.9135952 ,
        59.73822905,  77.59899603,  93.33522235,  -0.46528042,
        70.61879768, -10.71412423, 114.21649655,  39.46851873,
        49.57667536,  55.02353748,  12.27180863])

In [114]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_pred)
print('r2 socre is ',score)
print('mean_sqrd_error is==',mean_squared_error(y_test,y_pred))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_pred)))

r2 socre is  0.5171731928354504
mean_sqrd_error is== 2520.169429954189
root_mean_squared error of is== 50.20128912641775

In [118]:
test=pd.read_csv('test2.csv')
y_pred = regressor.predict(test)

In [119]:
y_pred

array([88.02637846])